! github.com/punkforpez/dotfiles
! .Xresources

! urxvt
Xft.dpi: 96
Xft.hinting: true
Xft.antialias: true

!URxvt.font: xft:Hack-Regular:pixelsize=13,xft.Symbola
URxvt.font: xft:Source Code Pro:pixelsize=13, xft.symbola
URxvt.scrollBar: false
URxvt.geometry: 70x20
URxvt.internalBorder: 5
*term.font: xft:Source Code Pro:pixelsize=13
! Gruvbox Style
#define base1 #272822
#define acr50 #f92672
#define acg50 #a6e22e
#define aco50 #f4bf75
#define acb50 #66d9ef
#define acv50 #ae81ff
#define acc50 #a1efe4
#define base3 #f8f8f2
#define base2 #75715e
#define acr70 #f92672
#define acg70 #a6e22e
#define aco70 #f4bf75
#define acb70 #66d9ef
#define acv70 #ae81ff
#define acc70 #a1efe4
#define base4 #f9f8f5

*.foreground  : base4
! original *.background: base 1
! greyish  *.background: #32302f
! dark     *.background: #282828
*.background  : base1
*.cursorColor : base4
*.fading:	10
*.fadeColor: base1

*.color0  : base1
*.color1  : acr50
*.color2  : acg50
*.color3  : aco50
*.color4  : acb50
*.color5  : acv50
*.color6  : acc50
*.color7  : base3
*.color8  : base2
*.color9  : acr70
*.color10 : acg70
*.color11 : aco70
*.color12 : acb70
*.color13 : acv70
*.color14 : acc70
*.color15 : base4

! Manpage colors
!*.colorIT : acr70
!*.colorBD : acc70
!*.colorUL : acb70

! Old Nord Style
! Uncomment everyting below this to restore.
!#define nord0 #2E3440
!#define nord1 #3B4252
!#define nord2 #434C5E
!#define nord3 #4C566A
!#define nord4 #D8DEE9
!#define nord5 #E5E9F0
!#define nord6 #ECEFF4
!#define nord7 #8FBCBB
!#define nord8 #88C0D0
!#define nord9 #81A1C1
!#define nord10 #5E81AC
!#define nord11 #BF616A
!#define nord12 #D08770
!#define nord13 #EBCB8B
!#define nord14 #A3BE8C
!#define nord15 #B48EAD

!*.foreground:   nord4
!*.background:   nord0
!*.cursorColor:  nord4
!*fading: 35
!*fadeColor: nord3

!*.color0: nord1
!*.color1: nord11
!*.color2: nord14
!*.color3: nord13
!*.color4: nord9
!*.color5: nord15
!*.color6: nord8
!*.color7: nord5
!*.color8: nord3
!*.color9: nord11
!*.color10: nord14
!*.color11: nord13
!*.color12: nord9
!*.color13: nord15
!*.color14: nord7
!*.color15: nord6
