/* === Global Defaults === */
* {
    border: none;
    border-radius: 0;
    font-family: Hack;
    font-size: 16px;
    min-height: 0;
    margin: 0;
    padding: 1;
}

window#waybar {
    /* background: transparent; */
    /* background-color: #11111b; */
    background-color: rgba(0,0,0,0.5);
    /* background-color: #1e1e2e; */ 
    border: none;
    color: #ebdbb2;
    /*color: #ebdbb2; */
    box-shadow: none;
}

.modules-left,
/* .modules-center, */
.modules-right {
    margin: 0px 0px 0px 0px;
    padding: 0px 8px;
    background-color: rgba(0,0,0,0);
    border: 0px solid rgba(153, 109, 219, 0.2);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

window#waybar.hidden {
    opacity: 0.2;
}

/* === Workspaces === */
#workspaces button {
    padding: 0 8px;
    color: #ebdbb2;
    border-radius: 6px;
    margin: 0 2px;
    font-weight: normal;
    background: none;
    box-shadow: none;
    transition: none;
}

#workspaces button:hover {
    background: rgba(215, 153, 33, 0.28);
    box-shadow: none;
}

#workspaces button.active {
    background-color: #ebdbb2;
    color: #282828;
    font-weight: bold;
}

#workspaces button.urgent {
    background-color: #2c303c;
}

/* === Centered Window Title === */
#window {
    background-color: rgba(0,0,0,0);
    /* background-color: #3c3836; */
    color: #ebdbb2;
    padding: 0 15px;
    border-radius: 10px;
    margin: 0 12px;
    /* font-weight: bold; */
}

/* === Modules === */
#clock,
#battery,
#backlight,
#network,
#idle_inhibitor,
#pulseaudio {
    background-color: rgba(0,0,0,0);
    color: #ebdbb2;
    padding: 0 10px;
    margin: 0;
    font-weight: normal;
}

#battery.charging,
#pulseaudio.muted {
    background-color: #ebdbb2;
    color: #282828;
}

@keyframes blink {
    to {
        background-color: #ebdbb2;
        color: #282828;
    }
}

#battery.critical:not(.charging) {
    background-color: #282828;
    color: #282828;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


label:focus {
    background-color: #000000;
}

/* === Idle Inhibitor === */
#idle_inhibitor {
    background-color: rgba(0, 0, 0, 0);
    color: #ebdbb2;
    border-radius: 5px;
    margin-right: 2px;
    margin-left: 3px;
    font-weight: bold;
}

#idle_inhibitor.activated {
    background-color: #ebdbb2;
    color: #282828;
    border-radius: 5px;
    margin-right: 2px;
    margin-left: 5px;
}

/* === Grouping and Borders === */
#pulseaudio {
    border-radius: 8px 0 0 8px;
    margin-left: 6px;
}
#tray {
    margin-right: 6px;
}
#clock {
    border-radius: 0 8px 8px 0;
    margin-right: 6px;
}

